[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendor/buzz"]
	path = vendor/buzz
	url = https://github.com/kriswallsmith/Buzz.git
